In [1]:
import pandas as pd
import numpy as np

In [2]:
#Se carga la base de datos desde el CSV usando la libreria pandas
df = pd.read_csv("data.csv", sep=";")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CrimeId                10051 non-null  int64
 1   OriginalCrimeTypeName  10051 non-null  object
 2   OffenseDate            10051 non-null  object
 3   CallTime               10051 non-null  object
 4   CallDateTime           10051 non-null  object
 5   Disposition            10051 non-null  object
 6   Address                10051 non-null  object
 7   City                   9730 non-null   object
 8   State                  10048 non-null  object
 9   AgencyId               10051 non-null  object
 10  Range                  0 non-null      float64
 11  AddressType            10051 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 942.4+ KB

In [4]:
df.shape

(10051, 12)

In [5]:
#Se visualiza la base de datos
df.head(5)

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection

In [6]:
df.isnull().sum()

CrimeId                      0
OriginalCrimeTypeName        0
OffenseDate                  0
CallTime                     0
CallDateTime                 0
Disposition                  0
Address                      0
City                       321
State                        3
AgencyId                     0
Range                    10051
AddressType                  0
dtype: int64

In [7]:
#Error 1: 
df["Range"].value_counts()

Series([], Name: Range, dtype: int64)

In [8]:
#Error 2: 
df["State"].value_counts()

CA    10048
Name: State, dtype: int64

In [9]:
# Error 3:
df["City"].value_counts()

San Francisco    9665
Treasure Isla      51
Daly City           5
Yerba Buena         3
Presidio            3
SAN FRANCISCO       1
 S                  1
Brisbane            1
Name: City, dtype: int64

In [10]:
df.drop(["Range", "State","City"], axis = 1, inplace = True)

In [11]:
df.head(5)

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,1,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,1,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,1,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,1,Intersection

In [12]:
#Error 4
df["AddressType"].value_counts()

Premise Address    5059
Intersection       3701
Common Location     818
Geo-Override        469
1                     3
Intersectioon         1
Name: AddressType, dtype: int64

In [13]:
df.drop(df[(df['AddressType']=="1")].index, inplace=True)

In [14]:
df["AddressType"].value_counts()

Premise Address    5059
Intersection       3701
Common Location     818
Geo-Override        469
Intersectioon         1
Name: AddressType, dtype: int64

In [15]:
#Error 5
df["AgencyId"].value_counts()

1    10048
Name: AgencyId, dtype: int64

In [21]:
df.drop(df[(df['AgencyId']== 1)].index, inplace=True)

In [22]:
df.drop(["AgencyId"], axis = 1, inplace = True)

In [23]:
df.isnull().sum()

CrimeId                  0
OriginalCrimeTypeName    0
OffenseDate              0
CallTime                 0
CallDateTime             0
Disposition              0
Address                  0
AddressType              0
dtype: int64

In [24]:
#Error 6
df["CrimeId"].value_counts()

160950496    3
160913455    3
160943739    1
160943709    1
160943710    1
            ..
160931821    1
160931823    1
160931824    1
160931825    1
160964249    1
Name: CrimeId, Length: 10044, dtype: int64

In [25]:
df.drop(df[(df['CrimeId'] == 160950496)].index, inplace=True)
df.drop(df[(df['CrimeId'] == 160913455)].index, inplace=True)

In [26]:
df["CrimeId"].value_counts()

160903280    1
160943717    1
160943708    1
160943709    1
160943710    1
            ..
160931821    1
160931823    1
160931824    1
160931825    1
160964249    1
Name: CrimeId, Length: 10042, dtype: int64

In [27]:
df["OriginalCrimeTypeName"].value_counts()

Traffic Stop          1215
Passing Call          1109
Suspicious Person      685
Homeless Complaint     585
22500e                 359
                      ...
9915                     1
Ro Viol                  1
Casing/852               1
Poss 800                 1
Wireless-H/u             1
Name: OriginalCrimeTypeName, Length: 575, dtype: int64

In [28]:
df["OffenseDate"].value_counts()

2016-04-02T00:00:00    2258
2016-04-04T00:00:00    2250
2016-04-01T00:00:00    2223
2016-04-03T00:00:00    2192
2016-04-05T00:00:00    1030
2016-03-31T00:00:00      86
2016-03-30T00:00:00       1
2013-04-04T00:00:00       1
2025-04-04T00:00:00       1
Name: OffenseDate, dtype: int64

In [29]:
df["CallTime"].value_counts()

17:39    19
12:25    17
9:43     17
14:38    17
14:36    17
         ..
4:33      1
4:28      1
4:00      1
3:41      1
6:55      1
Name: CallTime, Length: 1416, dtype: int64

In [30]:
df["Disposition"].value_counts()

HAN             2819
CIT             1425
GOA             1272
ADV             1142
REP              797
Not recorded     542
ND               425
UTL              385
CAN              352
NOM              324
PAS              170
ABA               97
NCR               82
22                77
ARR               65
ADM               48
INC               17
CRT                2
SFD                1
Name: Disposition, dtype: int64

In [31]:
df["Address"].value_counts()

900 Block Of Market St                  57
100 Block Of Christmas Tree Point Rd    49
0 Block Of United Nations Pz            46
1600 Block Of John F Kennedy Dr         28
1100 Block Of Market St                 27
                                        ..
Macalla Rd/macalla Ct                    1
San Bruno Av/silver Av                   1
Castro St/18th St                        1
Franklin St/golden Gate Av               1
0 Blk Herbst Rd                          1
Name: Address, Length: 5382, dtype: int64

In [32]:
df.head(5)

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,Intersection

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10042 entries, 0 to 10050
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CrimeId                10042 non-null  int64
 1   OriginalCrimeTypeName  10042 non-null  object
 2   OffenseDate            10042 non-null  object
 3   CallTime               10042 non-null  object
 4   CallDateTime           10042 non-null  object
 5   Disposition            10042 non-null  object
 6   Address                10042 non-null  object
 7   AddressType            10042 non-null  object
dtypes: int64(1), object(7)
memory usage: 706.1+ KB

In [34]:
df.shape

(10042, 8)